.h1_aula4{
    font-size: 8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: auto;
    color: rgb(96, 10, 0);
}
.h2_aula4{
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    color: rgb(110, 13, 2);
}
.body_aula4{
    background-color: rgb(154, 95, 89);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(249, 128, 114);
}
.img_aula4{
    max-width: 70%;
}