.header_aula5{
    
    line-height: 190px;
}
.h1_aula5{
    font-size: 8em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: auto;
    color: rgb(253, 253, 253);
    background-color: rgb(92, 92, 92)
}
.h2_aula5{
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    color: rgb(93, 93, 93);
}
.body_aula5{
    line-height: 80px;
    background-color: rgb(211, 211, 211);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(113, 113, 113);
}
.img_aula5{
    max-width: 70%;
}
.footer_aula5{
    line-height: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 92, 92);
}