input{
    margin-left: 40%;
    background-color:#34403A;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    color: #04E824;
    border: 1px solid #04E824;
    height:30px;
    width:260px;
  }

  body{
    align-items: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    background-color: #34403A;
}
button{
    margin-left: 40%;
    width:260px;
}
span{
    margin-left: 39%;
}
span button{
    margin-top: 2%;
    margin-left: 1%;
    width: 54px;
}
::placeholder{
    color: #04E824;
}